@import url('https://fonts.googleapis.com/css?family=Bellota|Crimson+Text|Dancing+Script|Inconsolata|Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    width: 100%;
    height: calc(100vh - 120px);
    background-color: rgb(243, 243, 243);
}

.header {
    width: 100%;
    height: 120px;
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    line-height: 2.5;   
}

.position { 
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 45px;
    background-color: white;
    align-items: center;
    border-radius: 5px;
}

.uil {
    font-size: 24px;
}

.uil:hover {
    background-color: rgb(226, 226, 226);
    font-size: 32px;
    transition: .2s;
    border-radius: 5px;
}



.uil-times-square {
    margin: 20px 20px;
}


.header__list__color {
    display: flex;
    justify-content: space-between;
}




.another { 
    
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font__kind {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 45px;
}

.lock {
    width: 50px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font__size {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 45px;
}


.modal-font {
    background-color: green;
    width: 150px;
    height: 200px;
    display: none;
    position: absolute;
    top: 83px;
    left: 990px;
}


.list__color {
    width: 550px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    display: none;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -275px;
}
.choose__color {
    margin: 20px 20px;
    font-size: 24px;
}

.hr{
    max-width: 100%;
    opacity: .2;
}


.btn {
    display: none;
    justify-content: flex-start;

}

.color, .images, .files {
    color: blue;
    width: 75px;
    height: 40px;
    border-radius: 2px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    font-size: 16px;
}

.color:hover, .images:hover, .files:hover {
    border: .5px solid rgb(218, 218, 218);
    color: rgb(107, 107, 107);
    transition: .3s;
}



.picture {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    margin: 25px 25px;
}

img{
    width: 140px;
    height: 55px;
    border-radius: 5px;
}











.text__color {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 30px 20px;
}


.first__row__first__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(5, 153, 0);
}

.first__row__second__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(217, 255, 0);
}

.first__row__third__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 174, 68);
}

.first__row__forth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 153, 0);
}

.first__row__fifth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 94, 0);
}

.first__row__sixth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(241, 86, 86);
}

.first__row__seventh__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}

.second__row__first__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(0, 255, 179);
}

.second__row__second__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(155, 119, 255);
}

.second__row__third__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(147, 65, 240);
}

.second__row__forth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(0, 174, 255);
}

.second__row__fifth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 0, 140);
}

.second__row__sixth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 0, 21);
}

.second__row__seventh__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(248, 189, 189);
}

.third__row__first__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 193, 193);
}

.third__row__second__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(0, 182, 142);
}

.third__row__third__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(201, 201, 201);
}

.third__row__forth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(153, 90, 90);
}

.third__row__fifth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(255, 0, 255);
}

.third__row__sixth__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(104, 101, 101);
}

.third__row__seventh__color {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(187, 182, 182);
}

