@import url('https://fonts.googleapis.com/css?family=Bellota|Crimson+Text|Dancing+Script|Inconsolata|Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 234, 235);
}

.header {
    width: 100%;
    height: 120px;
    background-color: rgb(122, 122, 122);
}

.text {
    margin: 50px 0 ;
    line-height: 2.5;
    
}
